



.side-navbar-list-item{
    
    font-weight:bolder;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.side-navbar-list-item .nav-link{
    color:#13085b;
    font-weight:bolder;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}