.cards-cibles{
    
    background: #fff !important;
    border-radius: 6px;
    padding: 22px 22px;
    position: relative;
    z-index: 9;
}

.cards-cibles>img{
    
    background: #fff;
    border-radius: 6px;
    padding: 22px 22px;
    position: relative;
}


.cards-cicle-content >h3{
    margin-bottom: 26px;
    color: #178295;
    font-size: 20px;
    font-weight: bold;
    
}

.cards-cicle-content p{
    margin-bottom: 36px;
    color: #57667e;
    font-size: 16px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card-cicle-content-p-content{
    height: 6rem;
}

.cards-cibles button{
    background: #2a0ea7;
    border-radius: 6px;
    padding: 18px 30px;
    position: relative;
    z-index: 1;
}
.cards-cibles button:hover{
    background: #170a52;
}